:root{
    --poppins: 'poppins', sans-serif;
    --catamaran: 'catamaran', sans-serif;
    --transition: all 0.3s ease-in-out;
    --orange: #eb2f06;
    --light-orange: #e55039;
    --blue: #1e3799;
    --light-blue: #4a69bd;
    --light-gray: #f1f1f1;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-size: cover;
    
}
html{
    font-size: 10px;
}
a{
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--catamaran);
    line-height: 1.3;
}
.navbar-brand span{
    z-index: 15px;
}
.navbar-brand span img{
    width: 150px;
    height: 125px;
    display: block;
    position: relative;
    bottom: 22px;
}
.btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 2rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    /* background-color: aqua;
    background-image: linear-gradient(90deg, aqua 0%, #eb2f06 100%); */
    height: 80px;
    width: 100%;
}
.navbar-toggler-open, .navbar-toggler-close{
    display: none;
}
.navbar .container{
    flex-direction: row;
}
.brand-and-toggler{
    justify-content: space-between;
    width: 100%;
}
.navbar-brand{
    color: #fff;
    letter-spacing: .3rem;
    font-size: 2rem;
    transition: var(--transition);
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    bottom: 20px;
    position: relative;
    right: 20px;
    
}
.nav-item{
    margin: 0 0 0 3rem;
}
.nav-link{
    color: #fff;
    font-size: 20px;
}
.nav-link::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: var(--transition);
}
.nav-link:hover{
    color: #b38521;
}

.resize-transition-stopper *{
    transition: none!important;
} 


/* slider############################ */
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #000, #fff);
    z-index: -1;
}
/* Top############################ */
.top{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.hero{
    height: 60%;
    width: 100%;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headline{
    position: absolute;
    top: 30%;
    left: 36%;
    font-size: 40px;
    transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
}
.headline2{
    position: absolute;
    top: 30%;
    left: 36%;
    font-size: 40px;
    transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
}
.hero p{
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: 20px;
    transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
    line-height: 30px;
    text-align: center;
}
.hero h2{
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 50px;
    transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
}
.hero::after{
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
/* serv############################################################ */
.serv{
    height: 110vh;
    position: relative;
    top: 65px;
    background-color: #000;
}
.heai{
    text-align: center;
}
.heai h1{
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 20px;
}
.cover-one{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: 40px;
}
.cover-two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: 80px;
}
.inner{
    border: 1px solid #b38521;
    width: 350px;
    background-color: #b38521;
    border-radius: 6px;
    /* height: 400px; */
}
.inner img{
    width: 350px;
    height: 300px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.inner h2{
    position: relative;
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
/* Testimonial############################################# */
.testimonial{
  width: 100%;
  min-height: 100vh;
  background: #ffe8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.monial{
  width: 90%;
  max-width: 800px;
  margin: auto;
}
.monial h3{
  color: #000000;
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  bottom: 20px;
  text-align: center;
}
.testimonial-text{
  background: #ff0058;
  color: #ffffff;
  width: 100%;
  height: 350px;
  position: relative;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.user-text{
  width: 80%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 20px;
}
.user-text .fas{
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.user-text span{
  display: block;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.testimonial-pic{
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.user-pic{
  width: 65px;
  padding: 5px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.testimonial-pic img{
  height: 100px;
  width: 100px;
}
.user-text.active-text{
  display: block;
  animation: moveup 0.5s linear forwards;
}
.user-pic.active-pic{
  width: 100px;
  border: 3px solid #ff0058;
}
@keyframes moveup{
  0%{
    margin-top: 25px;
  }
  100%{
    margin-top: 0px;
  }
}

/* footer section#########################################*/
.footer{
  position: relative;
  display: flex;
  width: 100%;
  height: 280px;
  background: #000;
  color: #ffffff;
  justify-content: space-between;
}
.footer div{
  text-align: center;
}
.col-1{
  position: relative;
  left: 90px;
}
.col-2{
  flex-grow: 2;
}
.col-3{
  position: relative;
  right: 90px;
}
.footer div h3{
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 20px;
  position: relative;
  top: 30px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  top: 60px;
  line-height: 40px;
  font-size: 20px;
}
.col-3 p{
    position: relative;
    top: 60px;
    font-size: 20px;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.social-links li{
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}
.social-links li:hover{
    transform: translateY(-5px);
}
.social-links li:nth-child(1){
    background-color: #3b5998;
}
.social-links li:nth-child(2){
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.social-links li:nth-child(3){
    background-color: #00acee;
}
.social-links a{
    font-size: 2rem;
    color: #fff;
}
.copyright{
    font-size: 18px;
    text-align: center;
    
}

/* Services############################################## */
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 60px;
}
.outer-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: relative;
    top: 100px;
    margin-left: 20px;
}
.in-one{
    text-align: center;
}
.in-one i{
    font-size: 30px;
    color: #000;
}
.in-one h1{
    font-size: 20px;
    color: #000;
}
.hero span{
    position: absolute;
    top: 73%;
    left: 30%;
    font-size: 20px;
    transform: translate(-20%, -70%);
    color: #000;
    z-index: 3;
    line-height: 30px;
}

/* responsive for tablets############################################################ */
@media (max-width:799px) {
   
    .navbar-brand{
        color: #fff;
        letter-spacing: .3rem;
        font-size: 2rem;
        transition: var(--transition);
    }
    
    .navbar-toggler-open, .navbar-toggler-close{
        font-size: 4rem;
        color: #fff;
        transition: var(--transition);
        display: contents;
    }
    .navbar-toggler-open i{
        position: relative;
        top: -20px;
    }
    .navbar-brand:hover, .navbar-toggler-open:hover, .navbar-toggler-close:hover{
        transform: scale(1.2);
    }
    .navbar-collapse{
        position: fixed;
        top: 0;
        right: 0px;
        width: 370px;
        height: 100%;
        background-color: #000;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        padding: 2rem 3rem;
        transform: translateX(100%);
        transition: var(--transition);
        z-index: 999;
    }
    .navbarShow{
        transform: translateX(0%);
    }
    .navbar-toggler-close{
        margin-left: 0;
        color: #fff;
    }
    .navbar-nav {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .nav-item{
        margin: 1.5rem 0;
    }
    .nav-link{
        position: relative;
        transition: var(--transition);
        font-size: 30px;
    }
   
    .resize-transition-stopper *{
        transition: none!important;
    } 
    /* top############## */
    .headline {
        position: absolute;
        top: 18%;
        left: 26%;
        font-size: 40px;
        transform: translate(-20%, -70%);
        color: #fff;
        z-index: 3;
        text-align: center;
    }
    .hero p {
        position: absolute;
        top: 72%;
        left: 30%;
        font-size: 30px;
        text-align: center;
    }
    /* serv########################### */
    .serv {
        height: 90vh;
    }
    .heai h1 {
        font-size: 40px;
    }
    .cover-one {
        top: 80px;
    }
    .cover-two {
        top: 110px;
    }
    /* Testimonial############################ */
    .monial h3 {
        font-size: 40px;
    }
    .user-text .fas {
        font-size: 70px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .user-text p{
        font-size: 30px;
        position: relative;
        bottom: 40px;
    }
    .user-text span {
        position: relative;
        bottom: 40px;
    }
    /* footer############################################ */
    .footer div h3 {
       font-size: 30px;
    }
    .col-1 {
        position: relative;
        left: 30px;
    }
    .col-3 {
        position: relative;
        right: 20px;
    }
    .col-1 a {
        font-size: 30px;
    }
    .col-3 p {
        font-size: 30px;
    }
    /* services############################### */
    .outer {
        top: 40px;
    }
    .outer-two {
        top: 70px;
    }
    .in-one i {
        font-size: 60px;
    }
    .in-one h1 {
        font-size: 30px;
    }
    .hero span {
        position: absolute;
        top: 80%;
        left: 30%;
        font-size: 30px;
        transform: translate(-20%, -70%);
        color: #000;
        z-index: 3;
        line-height: 30px;
    }
    /* about############# */
    .headline2 {
        position: absolute;
        top: 22%;
    } 
}
 /* Responsive for phone######################################## */
@media (max-width:477px){
    /* navbar### */
    .navbar-collapse{
        width: 200px;
        height: 100%;
    }
    .nav-link {
        font-size: 20px;
    }
    /* top#### */
    .headline {
        position: absolute;
        top: 14%;
        left: 26%;
        font-size: 20px;
    }
    .hero p {
        position: absolute;
        top: 72%;
        left: 30%;
        font-size: 16px;
        text-align: center;
        line-height: 20px;
    }
    /* serv######## */
    .heai h1 {
        font-size: 20px;
    }
    .cover-one {
        padding: 10px;
        gap: 20px;
        top: 40px;
    }
    .cover-two {
        padding: 10px;
        gap: 20px;
        position: relative;
        top: 40px;
    }
    .inner {
        border: 1px solid #b38521;
        width: 45%;
        background-color: #b38521;
        border-radius: 6px;
        /* height: 200px; */
    }
    .inner img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .inner h2 {
        position: relative;
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    /* .testimonial############## */
    .testimonial {
        margin-top: 20px;
    }
    .monial h3 {
        font-size: 20px;
    }
    .user-text .fas {
        font-size: 70px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .user-text .fas {
        font-size: 40px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .user-text p {
        font-size: 16px;
        position: relative;
        bottom: 40px;
    }
    .user-text span {
        font-size: 18px;
    }
    .testimonial-pic img {
        height: 50px;
        width: 50px;
    }
    
    .user-pic.active-pic {
        width: 50px;
        border: 2px solid #ff0058;
    }
    /* footer########## */
    .footer {
        position: relative;
        display: block;
        width: 100%;
        height: 480px;
        background: #000;
        color: #ffffff;
        justify-content: space-between;
    }
    .footer div h3 {
        font-size: 18px;
    }
    .col-1{
        left: 0px;
    }
    .social-links {
        position: relative;
        top: 100px;
    }
    .col-3{
        right: 0px;
        top: 100px;
    }
    .col-1 a {
        font-size: 16px;
    }
    .col-3 p {
        font-size: 16px;
    }
    .copyright {
        font-size: 16px;
        text-align: center;
    }
    /* services################################################# */
    .outer {
        top: 10px;
    }
    .outer-two {
        top: 20px;
    }
    .in-one i {
        font-size: 40px;
    }
    .in-one h1 {
        font-size: 20px;
    }
    .hero span {
        position: absolute;
        top: 80%;
        left: 30%;
        font-size: 16px;
        transform: translate(-20%, -70%);
        color: #000;
        z-index: 3;
        line-height: 20px;
    }
    /* About############################################# */
    .headline2 {
        position: absolute;
        top: 16%;
        left: 33%;
        font-size: 20px;
        transform: translate(-20%, -70%);
        color: #fff;
        z-index: 3;
    }
}